**/__pycache__/
.vscode/
datasets/
build/
condacolab_install.log
out/iscnet/
runs/
external/

# Ignore generated/manually added visualization helper files
visualization_helper/demo_results
visualization_helper/bbox.pkl
visualization_helper/full_scan.npz
visualization_helper/loss_plot.png
visualization_helper/trainloss.txt